@font-face {
    font-family: TildaSans;
    src: url(src/fonts/TildaSans-VF.ttf);
}

a {
    text-decoration: none;
    color: black;
}

.head {
    background-image: url(src/images/squad.jpg);
    font-family: TildaSans;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.head__name {
    color: white;
    font-size: 60pt;
    text-align: center;
    padding-top: 80pt;
}

.head__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: -50;
}

.head__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 149, 0);
    text-align: center;
    font-size: 15pt;
    color: white;
    width: 120pt;
    height: 30pt;
    padding-top: 10pt;
    margin: 0 auto;
    border-radius: 10px;
}

.head__menu {
    font-size: 13pt;
    color: white;
    padding-top: 30px;
    padding-left: 15px;
    font-weight: 600;
}

.history {
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    font-family: TildaSans;
    font-size: 22pt;
    font-weight: 600;
    color: black;
}

.history__link {
    color: rgb(255, 149, 0);
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
}

.history__info {
    font-weight: 100;
    font-size: 15pt;
}

.history__resourses {
    margin-top: 30pt;
    height: 60pt;
}

.members {
    margin-top: 200pt;
    margin-left: 150pt;
}

.members__title {
    margin-top: -250pt;
    font-family: TildaSans;
    font-size: 35pt;
    font-weight: 700;
}

.members__text {
    font-family: TildaSans;
    font-size: 15pt;
    font-weight: 100;
}

.members__image {
    object-fit: cover;
    height: 170pt;
    width: 170pt;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 150px;
}

.column {
    flex: 50%;
    padding: 1px 150px;
}

.column img {
    margin-top: 20px;
    margin-left: 20px;
}

.persons {
    color: black;
    margin-left: 150pt;
    margin-right: 150pt;
    font-family: TildaSans;
    text-align: center;
    margin-top: 500px;
}

.persons__name {
    margin-top: 100pt;
    font-size: 50pt;
    font-weight: 700;
}

.persons__info {
    font-size: 20pt;
    font-weight: 300;
}

.persons__button {
    margin-top: -1pt;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    width: 200pt;
    height: 30pt;
    font-size: 15pt;
    font-weight: 700;
    padding-top: 10pt;
}

.importance {
    font-family: TildaSans;
    margin-left: 200pt;
    margin-right: 200pt;
    margin-top: 100pt;
}

.importance__title {
    font-size: 30pt;
    font-weight: 700;
}

.importance__text {
    margin-top: 70pt;
    margin-left: 210pt;
    margin-right: 210;
    font-size: 15pt;
    font-weight: 300;
}

.importance__image {
    margin-top: 50pt;
    margin-left: 120pt;
    float: left;
    height: 40pt;
    width: 40pt;
}

.contacts {
    margin-top: -100pt;
    margin-right: 250pt;
    margin-left: 250pt;
    font-family: TildaSans;
    text-align: center;
    font-weight: 500;
}

.contacts__title {
    margin-top: 200pt;
    font-size: 15pt;
}

.contacts__phone {
    font-size: 30pt;
}

.contacts__email {
    margin-top: -30pt;
    font-size: 30pt;
    color: rgb(255, 149, 0);
}

.contacts__image {
    height: 50pt;
}



.videos {
    margin-left: 50px;
    margin-right: 50px;
}

.videos__title {
    font-size: 30pt;
    margin-top: 100px;
    font-family: TildaSans;
    text-align: center;
    font-weight: 700;
}

.videos__video1 {

    border: rgb(255, 149, 0);
    border-style: solid;
    border-radius: 50pt;
    margin-top: 30pt;
    margin-bottom: 20px;
    width: 300;
    height: 250;
}

.videos__video2 {

    border: rgb(255, 149, 0);
    border-style: solid;
    border-radius: 50pt;
    margin-top: 30pt;
    margin-bottom: 20px;
    width: 300;
    height: 250;
}

.videos__video3 {

    border: rgb(255, 149, 0);
    border-style: solid;
    border-radius: 50pt;
    margin-top: 30pt;
    margin-bottom: 20px;
    width: 300;
    height: 250;
}

.videos__video4 {

    border: rgb(255, 149, 0);
    border-style: solid;
    border-radius: 50pt;
    margin-top: 30pt;
    margin-bottom: 20px;
    width: 300;
    height: 250;
}

.videos__text {
    font-size: 20pt;
    font-family: TildaSans;
    font-weight: 500;
    margin-top: 20px;
    padding-right: 32px;
    padding-left: 20px;
}


.releases {
    margin-right: 50px;
    margin-left: 50px;
}

.releases__title {
    font-size: 30pt;
    margin-top: 100px;
    font-family: TildaSans;
    text-align: center;
    font-weight: 700;
}

.releases__text {
    font-size: 20pt;
    font-family: TildaSans;
    font-weight: 500;
    margin-top: 20px;
    display: none;
}

.releases__img {
    margin-right: 100px;
}


.releases__button {
    margin-top: 100pt;
    display: block;
    background-color: rgb(255, 149, 0);
    text-align: center;
    font-size: 15pt;
    color: white;
    width: 100pt;
    height: 50pt;
    margin: 0 auto;
    border-radius: 10px;
}

.releases__close {
    display: block;
    background-color: rgb(255, 149, 0);
    text-align: center;
    font-size: 15pt;
    color: white;
    width: 100pt;
    height: 50pt;
    margin: 0 auto;
    border-radius: 10px;
    display: none;
}

.contacts__button {
    display: block;
    background-color: rgb(255, 149, 0);
    text-align: center;
    font-size: 15pt;
    color: white;
    width: 100pt;
    height: 50pt;
    margin: 0 auto;
    border-radius: 10px;
}


@media (max-width: 1400px) {
    .head__logo {
        /* width: 100%; */
        object-fit: cover;
        height: 10%;
    }

    .history {
        margin-left: 100px;
        margin-right: 100px;
    }

    .members {
        margin-left: 50px;
        margin-right: 50px;
    }

    .members__text {
        width: 80px;
    }

    .members__image {
        height: 140px;
        width: 140px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 1px 90px;
    }

    .column {
        flex: 50%;
        padding: 1px 90px;
    }

    .contacts {
        margin-right: 100pt;
        margin-left: 100pt;
    }

    .contacts__phone {
        margin-right: 50pt;
        margin-left: 50pt;
    }

    .contacts__email {
        margin-right: 50pt;
        margin-left: 50pt;
    }

    .videos__text {
        font-size: 18pt;
        font-family: TildaSans;
        font-weight: 500;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .importance {
        margin-left: 20px;
        margin-right: 2px;
    }

    .importance__text {
        margin-top: 70pt;
        margin-left: 100pt;
        margin-right: 70pt;
        font-size: 15pt;
        font-weight: 300;
    }
}

@media (max-width: 800px) {
    .head__menu {
        width: 50pt;
        height: 100pt;
    }

    .head__logo {
        /* bac */
        margin-top: -165px;
        /* width: 100%; */
        object-fit: cover;
        height: 10%;
    }

    .head {
        background-image: url(src/images/squad_cut.jpg);
        height: 70%;
    }

    .history {
        margin-left: 10px;
        margin-right: 10px;
    }

    .members__image {
        height: 120px;
        width: 120px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 1px 50px;
    }

    .column {
        flex: 50%;
        padding: 1px 50px;
    }

    .persons {
        margin-left: 50px;
        margin-right: 50px;
    }

    .importance {
        margin-left: 0px;
        margin-right: 0px;
    }

    .importance__text {
        margin-top: 70pt;
        margin-left: 150pt;
        margin-right: 0pt;
        font-size: 15pt;
        font-weight: 300;
    }

    .contacts {
        margin-right: 50pt;
        margin-left: 50pt;
    }

    .contacts__phone {
        font-size: 20pt;
        margin-right: 0pt;
        margin-left: 0pt;
    }

    .contacts__email {
        margin-top: 20pt;
        font-size: 18pt;
        margin-right: 0pt;
        margin-left: 0pt;
    }

    .members__title {
        font-size: 20pt;
    }
}